body {
  color: #fcfcfc;
  font-family:  Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}

.text{
  position: relative;
  top: 200px;
  color: rgb(238, 227, 164);
}

.winner{
  margin-bottom: 50px;
  font-size: 50px;
  color: rgb(165, 91, 91);
}

.img{
  height:650px ;
  width: auto;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}

.images-container{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 150px;
}

.disabled {
  opacity: 0.5; /* or any other styles to visually indicate the button is disabled */
  pointer-events: none;
}

